body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.board {
  width: 880px;
  height: 880px;
  /* border: 1px solid; */
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.childrent{
  border: 1px solid rgba(128, 128, 128, 0.521);
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  padding: 10px;
}

.btn{
  padding: 7px 40px;
  border: 1px solid rgba(228, 9, 228, 0.808);
  border-radius: 5px;
  color: #fff;
  background-color: rgba(228, 9, 228, 0.808);
  cursor: pointer;
}
.btn:hover{
  background-color: rgba(228, 9, 228, 0.966);
}

.cell {

  margin: 1px;
  background-color: rgba(45, 106, 117, 0.699);
  display: inline-block;
  border-radius: 8px;
}

.apple {
  background: black;
}

.head {
  background: rgb(207, 12, 12);
}

.tail {
  background: rgb(209, 121, 6);
}
